on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ./deploy.key
          sudo chmod 600 ./deploy.key
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{secrets.DEPLOY_KEY}}
          SSH_KNOWN_HOSTS: ${{secrets.DEPLOY_SERVER}}

      - name: Install PM2
        run: npm i pm2 -g

      - name: Deploy
        run: pm2 deploy production
